<div>
	<details>
		<summary>Filters</summary>
		<!-- tu lahko uporabnik filtrira dogodke po razl. parametrih (tip, čas...) -->
		<form>
			<h6>Type:</h6>
			<label>
				Party
				<input name="type" type="checkbox" value="party" />
			</label>
			<label>
				Hangout
				<input name="type" type="checkbox" value="hangout" />
			</label>
			<label>
				Concert
				<input name="type" type="checkbox" value="concert" />
			</label>
			<label>
				Picnic
				<input name="type" type="checkbox" value="picnic" />
			</label>
			
			<h6>Date:</h6>
			<input name="date" type="date" />

			<button type="reset" >Reset</button>
			<button type="submit" >Confirm</button>
		</form>
	</details>
	<event-card></event-card>
</div>