<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="card our">
				<h5 class="name">Name</h5>
				<h6 class="info">Info</h6>
				<p class="description">Here's some basic information about the event</p>
				<h5 class="name">Name</h5>
				<h6 class="info">Info</h6>
				<p class="description">Here's some basic information about the event</p>
				<h5 class="name">Name</h5>
				<h6 class="info">Info</h6>
				<p class="description">Here's some basic information about the event</p>
			</div>
		</div>

		<div class="col-md-6">
			<div class = "card your">
				<h5 class="name">Name</h5>
				<h6 class="info">Info</h6>
				<p class="description">Here's some basic information about the event</p>
				<h5 class="name">Name</h5>
				<h6 class="info">Info</h6>
				<p class="description">Here's some basic information about the event</p>
				<h5 class="name">Name</h5>
				<h6 class="info">Info</h6>
				<p class="description">Here's some basic information about the event</p>
			</div>
		</div>
	</div>
	
	<div id="comment">
		<button (click)="showForm()" id="add">ADD</button>
		<div id="addText" [style.display]="isFormVisible ? 'block' : 'none'">
			<!--<form (ngSubmit)="saveForm()">-->
				<button type="button" class="btn-close" aria-label="Close" (click)="showForm()">OK</button>
				<label for="commentName"></label>
				<!--<input type="text" name="commentName" id="commentName" 
					placeholder="Comment..." [ngModelOptions]="{ standalone: true }"
					[(ngModel)]="newComment.name">-->
				
			<!--</form>-->
		</div>
	</div>
	

</div>
