/*to bo za our tip card*/
.card{
    height: 90%;
    width: 40%;
    margin-top: 4%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
}

.our {
    margin-right: 50%;
    
}

.your {
    margin-left: 50%;
   
}
