<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="card our">
				<h5 class="name">Name</h5>
				<h6 class="info">Info</h6>
				<p class="description">Here's some basic information about the event</p>
				<h5 class="name">Name</h5>
				<h6 class="info">Info</h6>
				<p class="description">Here's some basic information about the event</p>
				<h5 class="name">Name</h5>
				<h6 class="info">Info</h6>
				<p class="description">Here's some basic information about the event</p>
			</div>
		</div>

		<div class="col-md-6">
			<div class = "card your">
				<h5 class="name">Name</h5>
				<h6 class="info">Info</h6>
				<p class="description">Here's some basic information about the event</p>
				<h5 class="name">Name</h5>
				<h6 class="info">Info</h6>
				<p class="description">Here's some basic information about the event</p>
				<h5 class="name">Name</h5>
				<h6 class="info">Info</h6>
				<p class="description">Here's some basic information about the event</p>
			</div>
		</div>
	</div>
</div>