body {
	overflow: hidden;
}

#glasba {
	margin-top: 5%;
}

#playlist {
	display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
	border-radius: 20px;
	overflow: hidden;
	margin-top: 10%;
}