/* styles.css or your component-specific CSS file */
.container {
    position: relative;  
    width: 100%;
    height: 100vh;
    text-align: center;
  }

#slika {
    width:  100%;
    height: 110%;
    position: fixed;
    top: -10%;
    left: 0;
    z-index: -2; 
}

.text-container {
    position: absolute;
    top: 60%; /* Adjust as needed */
    left: 49%; /* Adjust as needed */
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: white;
    border-radius: 5px;
    font-family: "Oswald";
    font-weight: 700px;
    font-style: normal;
    z-index: -1;
  }
  #aboutUs.card {
    width: 50%;
    background-color: rgba(159, 177, 209, 0.7);
    padding: 25px;
    position: relative;
    margin-left: 25%;
    z-index: 2;
    color: white;
  }
  

  #aboutUs {
    position: relative;
    margin-top: 10%;
    margin-bottom: 13%;
  }

  h2 {
    margin-left: 40%;
  }

  h3 {
    margin-left: 50%;
  }

  #contact {
    margin-top: 3%;
    margin-bottom: 3%;
    margin-right: 7%;
    color: white;
  }
.row {
    display: inline;
    position: relative;
    margin-left: 31%;
}
  h6 {
    display: inline;
  }



  