  <!-- Make this image fit the page, write DOBRODOSLI over it-->
  <div class="container">
      <img src="../../../assets/img/welcome.png" alt="cover" id="slika">
    <div class="text-container" >
      {{ dynamicText }}
    </div>
</div>
    <!-- About Us -->
    <div class="card" id="aboutUs">
      <h2>About Us</h2>
      <div>
        Hello there, future scholars and party people!
        Are you ready to embark on the epic adventure of student life in Ljubljana?
        Whether you're a fresh-faced newbie or a seasoned scholar, we've got the scoop on everything you need to know about student life in Ljubljana.
        From the coolest hangouts to the best-kept secrets, consider us your personal insiders.
      </div>
      <p></p>
      <div>
        Want to impress your new classmates with a killer phrase or need some pro tips on surviving those dreaded exams?
        We've got your back! Need a quiet spot to cram for that upcoming test or craving some delicious local grub? We've got the lowdown on all the hotspots!
      </div>
    </div>

    


  <!-- Contact -->
  <div id="contact">
    <h3>Contact:</h3>
    <div class="row">
      <h6>Email: info@slovenianspirit.si</h6>
      <h6>Phone: +386 1 234 5678</h6>
      <h6>Address: Ljubljana, Slovenia</h6>
    </div>
  </div>
