/* styles.css or your component-specific CSS file */
.container {
    position: relative;  
    width: 100%;
    height: 100vh;
    text-align: center;
  }

#slika {
    width:  100%;
    height: 100vh;
    position: fixed;
    top: 20%;
    left: 0;
    z-index: 1; 
}

.text-container {
    position: absolute;
    top: 700%; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: white;
    border-radius: 5px;
    font-family: "Oswald";
    font-weight: 700px;
    font-style: normal;
    z-index: 2;
  }
  #aboutUs.card {
    width: 50%;
    background-color: rgba(159, 177, 209, 0.5);
    padding: 15px;
    position: relative;
    margin-left: 30%;
    z-index: 2;
  }
  

  #aboutUs {
    position: relative;
    margin-top: 50%;
  }

  h2 {
    margin-left: 40%;
  }

  h3 {
    margin-left: 50%;
  }

  #contact {
    margin-top: 5%;
  }
.row {
    display: inline;
    position: relative;
    margin-left: 31%;
}
  h6 {
    display: inline;
  }



  