/* styles.css or your component-specific CSS file */

.container {
    position: relative; /* Ensure positioning context */
    width: 100%;
    height: 80%;
    background-color: rgba(159, 177, 209, 0.5);
  }

  #aboutUs.card {
   background-color: rgba(159, 177, 209, 0.5);
   padding: 15px;
   
  }
  .text-container {
    position: relative;
    margin-top: -55%; /* Adjust as needed */
    margin-left: 40%; /* Adjust as needed */
    font-size: 80px;
    color: white;
    border-radius: 5px;
    font-family: "Oswald";
    font-weight: 700px;
    font-style: normal;
    
  }

  #aboutUs {
    position: relative;
    margin-top: 50%;
  }

  h2 {
    margin-left: 50%;
  }

  #contact {
    margin-top: 5%;
  }
.row {
    display: inline;
    position: relative;
    margin-left: 31%;
}
  h6 {
    display: inline;
  }



  