<nav id="navigation" class="navbar justify-content-center">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a
        class="btn btn-primary"
        data-bs-toggle="offcanvas"
        href="#offcanvasExample"
        role="button"
        aria-controls="offcanvasExample"
      >
        MY PROFILE
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">EVENTS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">FOOD</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">MUSIC</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">LANGUAGE</a>
    </li>
  </ul>
</nav>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Username</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      <form action="#" method="get" autocomplete="on">
        <label for="username">
          <input id = "username" placeholder="Username" required>
        </label>
        <button type="submit">Change Username</button>
      </form>
      <button>Delete Account</button>
    </div>
  </div>
</div>
