
.kanit-medium {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

#slika {
    margin-top: 0%;
    margin-right: 75%;
}
#navigation {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100vw; /* Full width */
    height: 18%;
    background-color: #d8dce2;
    z-index: 1;
}

.nav-item {
    border-radius: 10px;
    background-color: #9fb1d1;
	color: black;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: -15%;
    height: 50%;
    font-weight: bold;
    /*transition: 0.2s;*/
    font-family: "Kanit", sans-serif; /* Applying Kanit font */
}

.btn, #button {
	border-radius: 10px;
    background-color: #9fb1d1;
	color: black;
	font-weight: bold;
    transition: 0.2s;
	border: none;
}

.nav-item a {
    color: black;
}

.nav-item:hover, .btn:hover {
    background-color: #14233d;
}

.nav-item:hover a , .btn:hover{
    color: white;
}

.nav-item:enabled {
    background-color: #14233d;
}

