<nav id="navigation" class="navbar justify-content-center">
  <img src="../../assets/img/logo.png" alt="Logo" height="150" id="slika" />
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a
        class="btn btn-primary"
        data-bs-toggle="offcanvas"
        href="#offcanvasExample"
        role="button"
        aria-controls="offcanvasExample"
      >
        MY PROFILE
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/home">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/events">EVENTS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/music">MUSIC</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/language">LANGUAGE</a>
    </li>
  </ul>
</nav>

<div
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Username</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div>
      <form action="#" method="get" autocomplete="on">
        <label for="username">
          <input id="username" placeholder="Username" required />
        </label>
        <p></p>
        <button type="submit" class="btn">Change Username</button>
      </form>
      <p></p>
      <button class="btn">Delete Account</button>
    </div>
  </div>
</div>
